<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>w10exercise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertItem</display-name>
    <servlet-name>InsertItem</servlet-name>
    <servlet-class>jp.webschool.javaweb.chapter10.InsertItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItem</servlet-name>
    <url-pattern>/InsertItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItem</display-name>
    <servlet-name>RemoveItem</servlet-name>
    <servlet-class>jp.webschool.javaweb.chapter10.RemoveItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItem</servlet-name>
    <url-pattern>/RemoveItem</url-pattern>
  </servlet-mapping>
</web-app>